.contactContainer {
display: inline;
  align-items: center;
  justify-content: space-between;
}
.contactContainer .page{
  position: relative;
}
.contactContainer .page .page-header{
 background-image: url("../../../images/banner.jpg");
 height: 60vh;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 35% right 0;
   padding: 14px ; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.8; 
    z-index: -1;
 
}

 .contactContainer .page .page-header-text{
position: absolute;
z-index: 1;
top: 120px;
left:450px;

 }
 .contactContainer .page-header-text h2,
.contactContainer .page-header-text p{
  color: #881205;
  font-weight: 700;
}
.contactContainer .page-header-text h2{
  font-size: 20vh;

}

.contactContainer .page-header-text p{
  color: #fff;
  font-size: 5vh;
}

.contactContainer .location{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #181824;
  position: absolute;
}
.contactContainer .location .details{
  width: 40%;
  color: white;
  margin-top: 20px;
  margin-left: 50px;
}

.contactContainer .location .details span
{
font-size: 30px;
}
.contactContainer .location .details h2{
 font-size: 26px;
 line-height: 35px;
 padding: 20px 0;
}
.contactContainer .location .details h3{
 font-size: 20px;
padding-bottom: 15px;
}
.contactContainer .location .details li{
list-style: none;
display: flex;
padding: 10px 0;
}
.contactContainer .location .details li span{
font-size: 30px;
padding-right: 22px;
}
.contactContainer .location .details li p{
margin: 0;
font-size: 18px;
}

.contactContainer .location .map{
  width: 60%;
  height: 400px;
  margin-top: 20px;
}

.contactContainer .location .map iframe{
  width: 100%;
  height: 100%  ;
}









